@import "bootstrap-sprockets";
@import "bootstrap";

/* Will update with customer input */

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$white: #ffffff;
$light-gray: #cfcfd1;
$dark-gray: #808080;
$dark-gray-darker: #5e5f60;
$black: #000000;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* universal */

body {
  padding-top: 0px;
}

#home {
  //background: url(#);
  background-repeat: no-repeat;
  background-size: 100%;
  }
  
#homephone {
  //background: url(#);
  background-repeat: no-repeat;
  }
  
#total {
  padding-left: 10px;  
}

.container-center {
  text-align: center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
  u {
    text-decoration: underline;
  }
}

h3 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $dark-gray-darker;
  u {
    text-decoration: underline;
  }
}

h4 {
  font-size: 1.0em;
  letter-spacing: -1px;
  text-align: left;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

.navbar {
  background-color: $white;
  background-image: none;
  background-repeat: no-repeat;
  opacity: 0.6;
 }
 
.navbar-nav {
    display:inline-block;
    float:none;
}

#logo {
  //font-family: 'Cookie', cursive;
  //font-family: 'Pinyon Script', cursive;
  //font-family: 'Petit Formal Script', cursive;
  //font-family: 'Italianno', cursive;
  //font-family: 'Mr De Haviland', cursive;
  //font-family: 'Rouge Script', cursive;
  font-family: 'Miss Fajardose', cursive;
  //font-family: 'Monsieur La Doulaise', cursive;
  float: left;
  margin-left: 30px;
  margin-right: 10px;
  font-size: 4.0em;
  color: $gray-light;
  text-transform: none;
  letter-spacing: 1.2px;
  padding-top: 9px;
  font-weight: light;
  /* &:hover {
    color: #000000;
    text-decoration: none;
  } */
}

#logo-two {
  //font-family: 'Cookie', cursive;
  //font-family: 'Pinyon Script', cursive;
  //font-family: 'Petit Formal Script', cursive;
  //font-family: 'Italianno', cursive;
  //font-family: 'Mr De Haviland', cursive;
  //font-family: 'Rouge Script', cursive;
  //font-family: 'Miss Fajardose', cursive;
  //font-family: 'Monsieur La Doulaise', cursive;
  font-family: 'Tangerine', cursive;
  float: left;
  margin-left: 18px;
  margin-right: 10px;
  font-size: 2.7em;
  color: $gray-light;
  text-transform: none;
  letter-spacing: 1px;
  padding-top: 0px;
  font-weight: light;
  /* &:hover {
    color: #000000;
    text-decoration: none;
  } */
}

#logo-three {
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  //text-align: left;
  font-weight: normal;
  color: $dark-gray;
  &:hover {
    color: #000000;
    text-decoration: none;
  }
}

.well{
background-color: $white !important;
}

.btn {
  background-color: $white;
  color: $black;
  &:hover {
      color: $gray-darker;
  }
}

.btn-danger {
  background-color: $white;
  color: $light-gray
}

.btn-primary {
  background-color: $white;
  color: $black;
  &:hover {
      color: $gray-darker;
  }
}

/* mobile menu */

.mobile-menu {
  padding-left: 20px;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


#fullpage{
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}