<header class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="container" id="logo">test</div>
        <div class="container" id="logo-two">test</div>
    </div>
    <br>
    <div class="container-center">
        <nav>
            <ul class="nav navbar-nav">
                <li><%= link_to "Home", root_path, id: "logo-three" %></li>
                <li><%= link_to "About", about_path, id: "logo-three" %></li>
                <li><%= link_to "Contact", contact_path, id: "logo-three" %></li>
            </ul>
        </nav>
    </div>
</header>