<span class="mobile-menu" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>


<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
        
        <div class="container" id="logo">Test</div>
        <div class="container" id="logo-two">test</div>
    <br>
    <div class="container-center">
        <nav>
            <ul class="nav navbar-nav">
                <li><%= link_to "Home", root_path, id: "logo-three" %></li>
                <li><%= link_to "About", about_path, id: "logo-three" %></li>
                <li><%= link_to "Contact", contact_path, id: "logo-three" %></li>
            </ul>
        </nav>
    </div>
  </div>
