<!DOCTYPE html>
<html>
  
  <meta property="og:url"           content="url goes here" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Website" />
  <meta property="og:description"   content="Website" />
  <meta property="og:image"         content="assets/#" />
  
  <head>
    <title><%= full_title(yield(:title)) %></title>
      <%= favicon_link_tag '#' %>
      <%= render 'layouts/rails_default' %>
      <%= render 'layouts/shim' %>
      <%= render 'layouts/header' %>
  </head>
    <body>
    <%= render 'layouts/application_layout' %>
</body>
</html>
<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pinyon+Script" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Italianno|Mr+De+Haviland" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Miss+Fajardose|Monsieur+La+Doulaise|Rouge+Script" rel="stylesheet">
